<launch>
    <!-- ROS Master -->
    <arg name="roscore" default="true"/>

    <!-- Camera Node -->
    <node name="raspberry_pi_camera" pkg="turtlebot3_autorace_camera" type="raspberry_pi_camera_publish.launch" output="screen">
        <param name="camera_name" value="camera"/>
    </node>

    <!-- Bird Detection Node -->
    <node name="bird_detector" pkg="bird_detection" type="basic.py" output="screen">
        <param name="model_path" value="/home/curie/catkin_ws/src/bird_alert/bird_camera/bird_detection/models/ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8/saved_model"/>
    </node>
</launch>



