<launch>
    <!-- Launch TurtleBot3 bringup -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch" />

    <!-- Launch USB Camera -->
 <!--    <include file="$(find usb_cam)/launch/usb_cam.launch" /> -->
    
    <!-- Launch camera compress -->
    <include file="$(find image_compress)/launch/image_compress.launch" />
			
    <arg name="bird_turret_launch" default="$(find bird_turret)/launch/bird_turret.launch" />
    <include file="$(arg bird_turret_launch)" />
</launch>

